.content-case {
  .share {
    text-align: right;

    iframe {
      vertical-align: bottom;
    }
  }
  .case-list {
    @extend .clearfix;

    h3 {
      margin-bottom: 20px;
    }

    .interview, .everyone {
      float: left;
    }
    .interview {
      width: 344px;
      margin-right: 23px;

      h4 {
        font-size: 14px;
        font-weight: bold;
        margin: 0 !important;
      }

      a {
        display: block;
        border: 1px solid #e8e8e8;
        margin-bottom: 5px;
        @include border-radius(5px);
        text-decoration: none;

        &:hover {
          border-color: #aaa !important;
        }
      }
      .case-content {
        margin: 13px;
      }
      .description, .short-message {
        @extend .clearfix;
      }
      .description {
        margin-top: 17px !important;
        font-size: 12px;
        img {
          float: left;
          vertical-align: top;
          margin-right: 8px;
        }
      }
      .short-message {
        margin-top: 10px;
        position: relative;

        .comment {
          font-size: 12px;
          line-height: 1.4em;
          padding: 10px !important;
          margin: 0 !important;
          width: 200px;
        }
        img {
          position: absolute;
          width: 80px;
          right: 0px;
          bottom: 15px;
        }
      }
    }
    .everyone {
      width: 378px;
    }
  }
}

.content-case-detail {
  .navbar {
    .back-to-cases {
      background: transparent image-path("circle-arrow-left-white.png") no-repeat left center;
      padding-left: 20px;
    }
    .share {
      float: right;

      iframe {
        vertical-align: bottom;
      }
    }
  }

  .case-title {
    margin-top: 30px;
    position: relative;
    h2 {
      padding-right: 150px;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.3em;
      border: 0 !important;
      margin: 0 !important;
    }
    img {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }

  h3 {
    font-size: 22px !important;
    background: transparent image-path("case/q-border.png") repeat-x left center;
    span {
      font-size: inherit;
      background-color: #fff;
      padding-right: 1em;
    }
  }

  .about-system {
    .system-info {
      width: 250px;
      float: right;
      margin-left: 1em;
      padding: 10px 0 !important;

      dl {
        margin: 10px 15px;
      }
      dt {
        font-size: 16px;
        font-weight: bold;
      }
      dd {
        margin: 5px 5px 10px 0 !important;
      }
      ul {
        margin-top: 0 !important;
      }
    }
  }

  .how-to-use {
    dl {
      float: left;
      margin: 0 40px 0 0 !important;
    }
    dt {
      font-size: 16px;
      font-weight: bold;
    }
    dd {
      margin: 0 !important;
    }
  }

  .message {
    h3 {
      margin-top: 60px;
      background-image: none !important;
    }
  }

  .caution {
    margin-top: 100px; 
    p {
      font-weight: bold;
      text-align: right;
    }
  }
}

