// Styles for download page
.content-download {
  h3 {
    font-size: 26px;
    margin: 50px 0 35px 0;

    .released-at {
      font-size: 18px !important;
      color: #aaa;
      padding-left: 20px;
    }
  }

  .editor {
    @extend .clearfix;

    .navigates {
      margin-left: 0;
    }
  }

  .generator {
    @extend .clearfix;

    .navigates {
      margin-left: 0;
    }

    .badge {
      @include inline-block;
      @include border-radius(3px);
      @include box-sizing(border-box);
      float: right;
      margin-left: 1em;
      width: 300px;
      height: 100px;
      border: 1px solid #eee;
      overflow: hidden;

      img {
        width: 130%;
      }

      &:hover {
        border-color: #ddd;
      }
    }
  }
}
