// Styles for download page
.content-download {
  #release-info {
    dt, dd {
      font-size: 24px;
    }

    dt {
      color: black;
      float: left;
    }

    dd {
      font-style: italic;
      color: #aaa;
      text-align: right;
    }

    .navigates {
      margin-top: 10px;
    }
  }

  h3 {
    font-size: 26px;
    margin: 50px 0 35px 0;
  }

  .editor {
    @extend .clearfix;

    .navigates {
      margin-left: 0;
    }

    .badge {
      @include inline-block;
      @include border-radius(3px);
      @include box-sizing(border-box);
      float: right;
      margin-left: 1em;
      width: 300px;
      border: 1px solid #eee;
      overflow: hidden;

      img {
        width: 100%;
      }

      &:hover {
        border-color: #ddd;
      }
    }
  }

  .generator {
    @extend .clearfix;

    .navigates {
      margin-left: 0;
    }

    .badge {
      @include inline-block;
      @include border-radius(3px);
      @include box-sizing(border-box);
      float: right;
      margin-left: 1em;
      width: 300px;
      height: 100px;
      border: 1px solid #eee;
      overflow: hidden;

      img {
        width: 130%;
      }

      &:hover {
        border-color: #ddd;
      }
    }
  }
}
