.content-news-post {
  .breadcrumbs {
    margin-bottom: 10px;
  }

  .posted-at {
    margin-bottom: 30px;
    text-align: right;
  }

  .share {
    margin-top: 40px;
    @include border-radius(2px);
    background-color: #f8f8f8;
    padding: 1em;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2em;
    padding-bottom: 0.2em;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 24px;
    margin-top: 25px;
  }

  p {
    margin-top: 20px;
  }

  ul {
    list-style: square;
    margin: 10px 0 0 25px;
  }

  .comments {
    margin-top: 40px;
  }
}

.content-news {
  .news-list {
    font-size: $base-font-size + 1;

    ul {
      list-style: none;
      margin-left: 0;

      label {
        font-weight: bold;
        padding-right: 5px;
      }
    }
  }

  .old-news {
    margin-top: 30px;
  }
}