.content-news-post {
  .back-to-all-news {
    margin-bottom: 20px;

    a {
      background: transparent image-path("circle-arrow-left-white.png") no-repeat left center;
      padding-left: 20px;
    }
  }

  .meta {
    font-size: 12px;
    margin: 5px 0 60px 0;
    text-align: right;
  }

  .share {
    margin-top: 40px;
    @include border-radius(2px);
    background-color: #f8f8f8;
    padding: 1em;
  }

  .ps {
    font-size: 11px;
    margin-top: 10px;

    span {
      color: #fff;
      background-color: #E05D00;
      padding: 0.2em 0.4em;
      @include border-radius(2px);

      a {
        color: inherit;
      }
    }
  }

  h2 {
    line-height: 1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 42px;
  }

  p {
    margin-top: 20px;
  }

  img {
    max-width: 680px;
    @include border-radius(5px);
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #eee;
  }

  ul, ol {
    margin: 20px 0 0 35px;
  }

  ul {
    list-style: square;
  }

  li {
    margin-bottom: 0 !important;
  }

  .comments {
    margin-top: 40px;
  }
}

.content-news {
  .news-list {
    font-size: $base-font-size + 1;

    ul {
      list-style: none;
      margin-left: 0;

      label {
        font-weight: bold;
        padding-right: 5px;
      }

      li {
        line-height: 2em;
      }
    }
  }

  .old-news {
    margin-top: 30px;
  }
}
