.content-news-post {
  .back-to-all-news {
    margin-bottom: 20px;

    a {
      background: {
        color: transparent;
        image: icon-path("arrow-circle-left.svg");
        repeat: no-repeat;
        position: left center;
      };
      @include background-size(14px);
      padding-left: 20px;
    }
  }

  .meta {
    font-size: 12px;
    margin: 5px 0 30px 0;
    text-align: right;
  }

  .share {
    margin-top: 40px;
    @include border-radius(2px);
    background-color: #f8f8f8;
    padding: 1em;
  }

  .ps {
    font-size: 11px;
    margin-top: 10px;

    span {
      color: #fff;
      background-color: #E05D00;
      padding: 0.2em 0.4em;
      @include border-radius(2px);

      a {
        color: inherit;
      }
    }
  }

  h2 {
    line-height: 1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 42px;
  }

  h3 {
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 20px;
  }

  p, table {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    @include border-radius(5px);
    padding: 10px;
    @include box-sizing(border-box);
    border: 5px solid #eee;
  }

  ul, ol {
    margin: 20px 0 0 35px;
  }

  ul {
    list-style: square;
  }

  li {
    margin-bottom: 0 !important;

    ul {
      margin-top: 0 !important;
      margin-bottom: 10px !important;
      list-style-type: circle;
    }
  }

  table {
    @include box-sizing(border-box);

    td, th {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }
  }

  .slide-container {
    width: 70%;
    margin-top: 20px;
  }
}

.content-news {
  .news-list {
    // font-size: $base-font-size;

    ul {
      list-style: none;
      margin-left: 0;

      label {
        padding-right: 1.5em;
      }

      li {
        line-height: 2em;
      }
    }
  }

  .old-news {
    margin-top: 30px;
  }
}
