#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration 'Compass.rb'

# Compilation

compile '/assets/style/_*/' do
end

compile '/assets/style/*/' do
  filter :erb
  filter :sass, Compass.sass_engine_options
  filter :relativize_paths, type: :css
  filter :rainpress
end

compile '/assets/*' do
end

compile '/CNAME/' do
  filter :erb
end

compile '/sitemap/' do
  filter :erb
end

compile '/news/feed/' do
  filter :erb
end

compile '/robots/' do
  filter :erb
end

compile '*' do
  next if item.binary?

  filter :erb
  if item[:extension] == 'md'
    filter :kramdown, auto_ids: false, enable_coderay: false
  end
  filter :colorize_syntax

  layout 'default'
end

# Routing

route '/news/feed/' do
  '/news/feed.xml'
end

route %r|^/news/\d{4}\-\d{2}\-\d{2}-.+?/| do
  item_paths = item.identifier.split('/')

  news_identifier = item_paths[2]
  year, month, day, summary = news_identifier.split('-', 4)

  "/news/#{year}/#{month}/#{summary}" + if item.binary?
    filename = item_paths.last
    "/images/#{filename}.#{item[:extension]}"
  else
    '/index.html'
  end
end

route '/assets/style/_*/' do
  nil
end

route '/assets/style/*/' do
  '/assets/style.css'
end

route '/assets/*' do
  "/assets#{item.identifier[7..-2]}"
end

route '*' do
  case
  when item.binary?
    "#{item.identifier.chop}.#{item[:extension]}"
  when item[:path]
    item[:path]
  else
    "#{item.identifier}index.html"
  end
end

layout '*', :erb