---
id: community
title: Community
---

<h2><%= @item[:title] %></h2>

<div class="section">
  <h3>GitHub Discussions</h3>
  <p>
    Thinreports は公式 <%= link_to_related_url :github_discussions, 'GitHub Discussions' %> を用意しています。
    もしあなたが Thinreports に関する疑問や問題を持っているなら、この GitHub Discussions で解決策を得ることができるかもしれません。
    そうでないなら、ぜひあなたの問題や質問を投稿してみて下さい。
  </p>
  <p>
    <%= link_to_related_url :github_discussions, 'GitHub Discussions', target: '_blank', class: 'navigate' %>
  </p>
</div>

<div class="section">
  <h3>Contributing to Thinreports</h3>
  <p>
    Thinreports は今後もオープンソースソフトウェアとして無償で利用することができます。
    開発は、 Thinreports.org コミュニティメンバーによってボランティアで進められます。
    もしあなたが Thinreports を使っていたり、Thinreports を評価してくださるなら、
    ぜひ Thinreports にコントリビュートしてください。
  </p>
  <p>
    <%= link_to 'How to: Contribute to Thinreports', 'https://github.com/thinreports/thinreports/wiki/How-to:-Contributing-to-Thinreports', target: '_blank', class: 'navigate' %>
  </p>
</div>
