---
id: documentation
title: Documentation
---

<h2><%= @item[:title] %></h2>

<div class="section" id="users-guide">
  <h3>Users Guide</h3>
  <p>
    ThinReports の Users Guide は Project Site 上で公開しています。
    Users Guide では、以下の内容が閲覧できます。
  </p>
  <dl class="h4s">
    <dt><%= link_document_to 'Installation Guide', 'Installation Guide', attrs: {class: 'navigate'} %></dt>
    <dd>
      ThinReports のインストール方法について詳しく解説しています。
    </dd>
    <dt><%= link_document_to 'Getting Started', 'Getting Started', attrs: {class: 'navigate'} %></dt>
    <dd>
      ThinReports を始める際の準備、帳票作成の基本的な方法を説明しています。
    </dd>
    <dt><%= link_to_github 'Examples', 'examples', nil, class: 'navigate' %></dt>
    <dd>
      ThinReports の基本的な使い方から高度な一覧表の作成方法まで、さまざまなサンプルコード・レイアウトファイルを公開しています。
      なお、掲載されているソースコード/レイアウトファイル/出力結果(PDF)は全てダウンロードできます。
      旧 Examples は <%= link_project_wiki_to 'こちら', 'En_Examples' %> から閲覧できますが、
      こちらは今後更新されることはありません。
    </dd>
    <dt><%= link_document_to 'Tutorial', 'Tutorial', attrs: {class: 'navigate'} %></dt>
    <dd>
      ThinReports と他のツールを組み合わせた使い方について説明しています。
    </dd>
    <dt><%= link_to 'API Documentation for Generator (RubyGems.org)', "http://rubydoc.info/gems/thinreports/#{version_number of: :generator}/frames", class: 'navigate' %></dt>
    <dd>
      ThinReports Generator for Ruby の APIドキュメントを閲覧できます。
    </dd>
  </dl>
</div>

<div class="section" id="others">
  <h3>Others</h3>
  <p>
    Users Guide の他にも ThinReports を使う上で役立つリソースをご紹介します。
  </p>
  <dl class="h4s">
    <dt><%= link_to_github 'Source Code and Example apps', 'top', nil, class: 'navigate' %></dt>
    <dd>
      ThinReports は、その全てのソースコードを <%= link_to_github 'GitHub', 'top' %> で公開しています。
    </dd>
  </dl>
</div>

