---
id: download
title: Download
---

<h2><%= @item[:title] %></h2>

<div id="release-info" class="box">
  <dl class="clearfix">
    <dt>Latest release <%= version_number %></dt>
    <dd><%= version_released_at %></dd>
  </dl>
  <ul class="navigates clearfix">
    <li><%= link_project_wiki_to 'ChangeLog', 'Changelog', :class => 'navigate' %></li>
    <li><%= link_news_to 'Announce', version_data('announce_id'), :class => 'navigate' %></li>
    <li><%= link_project_wiki_to 'Getting Started', 'Getting Started', :class => 'navigate' %></li>
  </ul>
</div>

<div id="release-files">
  <h3>Latest Release</h3>

  <h4>ThinReports Editor</h4>
  <table class="file-list">
    <tbody>
    <% file_data(:editor).each do |f| %>
      <tr>
        <th><%= f['desc'] %></th>
        <td class="md5"><%= f['md5'] %></td>
        <td class="size"><%= f['size'] %></td>
        <td class="button"><%= link_download_mirror_file_to 'DOWNLOAD', f['name'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <ul class="navigates clearfix">
    <li><%= link_to 'Features', '/features/editor/' %></li>
    <li><%= link_to 'Documents', '/documentation/' %></li>
    <li><%= link_to 'Installation Guide', project_wiki_url_for('Installing Editor') %></li>
  </ul>
  
  <h4>ThinReports Generator for Ruby</h4>
  <div id="install-generator">
    <dl>
      <dt>INSTALL USING RubyGems :</dt>
      <dd>$ gem install thinreports</dd>
    </dl>
  </div>
  <table class="file-list">
    <tbody>
      <tr>
        <th><%= file_data(:generator)['desc'] %></th>
        <td class="md5"><%= file_data(:generator)['md5'] %></td>
        <td class="size"><%= file_data(:generator)['size'] %></td>
        <td class="button"><%= link_download_mirror_file_to 'DOWNLOAD', file_data(:generator)['name'] %></td>
      </tr>
    </tbody>
  </table>
  <ul class="navigates clearfix">
    <li><%= link_to 'Features', '/features/generator/' %></li>
    <li><%= link_to 'Documents', '/documentation/' %></li>
    <li><%= link_to 'RubyGems.org', 'http://rubygems.org/gems/thinreports/' %></li>
    <li><%= link_to 'Installation Guide', project_wiki_url_for('Installing Generator') %></li>
  </ul>
</div>

<div class="section">
  <h3>Previous Releases</h3>
  <p>
    <%= link_to 'All releases on SourceForge.net', 'https://sourceforge.net/projects/thinreports/files/', :class => 'navigate' %>
  </p>
</div>

