---
id: download
title: Download
---

<h2><%= @item[:title] %></h2>

<div id="release-info" class="box">
  <dl class="clearfix">
    <dt>Latest release <%= version_number %></dt>
    <dd><%= version_released_at %></dd>
  </dl>
  <ul class="navigates clearfix">
    <li>
      <span class="navigate">Changelog:
        <%= link_to_changelog_for :editor, 'Editor' %> /
        <%= link_to_changelog_for :generator, 'Generator' %>
      </span>
    </li>
    <li><%= link_to 'Announce', version_data('news'), class: 'navigate' %></li>
    <li><%= link_to 'Getting Started', '/documentation/ja/getting-started/', class: 'navigate' %></li>
  </ul>
</div>

<div id="release-files">
  <h3>Latest Release</h3>

  <h4>Thinreports Editor <%= version_number of: :editor %></h4>
  <table class="file-list">
    <tbody>
    <% file_data(:editor).each do |f| %>
      <tr>
        <th><%= f['desc'] %></th>
        <td class="md5"><%= f['md5'] %></td>
        <td class="size"><%= f['size'] %></td>
        <td class="button"><%= link_download_mirror_file_to 'DOWNLOAD', f['name'], f['version'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <ul class="navigates clearfix">
    <li><%= link_to 'Features', '/features/editor/' %></li>
    <li><%= link_to 'Documents', '/documentation/ja/' %></li>
    <li><%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html' %></li>
  </ul>

  <h4>Thinreports Generator for Ruby <%= version_number of: :generator %></h4>
  <table class="file-list">
    <tbody>
      <tr>
      <% file_data(:generator).tap do |g| %>
        <th><%= g['desc'] %></th>
        <td class="md5"><%= g['md5'] %></td>
        <td class="size"><%= g['size'] %></td>
        <td class="button"><%= link_download_mirror_file_to 'DOWNLOAD', g['name'], version_number(of: :generator) %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <ul class="navigates clearfix">
    <li><%= link_to 'Features', '/features/generator/' %></li>
    <li><%= link_to 'Documents', '/documentation/ja/' %></li>
    <li><%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html' %></li>
    <li><a href="http://badge.fury.io/rb/thinreports"><img src="https://badge.fury.io/rb/thinreports@2x.png" alt="Gem Version" height="18"></a></li>
  </ul>
</div>

<div class="section">
  <h3>Previous Releases</h3>
  <p>
    <%= link_to 'All releases on SourceForge.net', 'https://sourceforge.net/projects/thinreports/files/', class: 'navigate' %>
  </p>
</div>
