---
id: download
title: Download
---

<h2><%= @item[:title] %></h2>

<div class="editor section">
  <h3>
    Thinreports Editor <%= editor_release['version'] %>
    <span class="released-at"><%= formatted_release_date editor_release['released_at'] %></span>
  </h3>
  <ul class="navigates">
    <li><%= link_to_related_url :editor_releases, 'Download', class: 'navigate' %></li>
    <li><%= link_to 'Release Announcement', editor_release['announcement'], class: 'navigate' %></li>
    <li><%= link_to_changelog_for :editor, 'Changelog', class: 'navigate' %></li>
    <li><%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html', class: 'navigate' %></li>
  </ul>
  <p class="clearfix">
    Editor はデスクトップアプリケーションです。利用可能な OS や必要なソフトウェア、
    インストール手順は <%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html' %> を確認してください。
  </p>
</div>

<div class="generator section">
  <h3>
    Thinreports Generator for Ruby <%= generator_release['version'] %>
    <span class="released-at"><%= formatted_release_date generator_release['released_at'] %></span>
  </h3>
  <ul class="navigates">
    <li><%= link_to 'Download', 'https://rubygems.org/gems/thinreports', class: 'navigate' %></li>
    <li><%= link_to 'Release Announcement', generator_release['announcement'], class: 'navigate' %></li>
    <li><%= link_to_changelog_for :generator, 'Changelog', class: 'navigate' %></li>
    <li><%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html', class: 'navigate' %></li>
  </ul>
  <p class="clearfix">
    Generator for Ruby は RubyGems です。インストールは基本的に <code>gem</code> コマンドで行いますが、
    <%= link_to_related_url :rubygems, 'rubygems.org/thinreports', target: '_blank' %> より
    パッケージファイルをダウンロードすることも可能です。詳細については
    <%= link_to 'Installation Guide', '/documentation/ja/getting-started/installation.html?#toc-11' %> をご覧ください。
  </p>
</div>
