---
id: features-introduction
title: "Features › Introduction"
---

<h2>Features</h2>

<%= render 'features/nav' %>

<div class="section">
  <h2 class="sub">Introduction</h2>
  <p>
    Thinreports は、Ruby はもちろん Ruby on Rails のような Ruby 製のフレームワークで利用可能な帳票機能と、
    それを実現する上で必要なさまざまなツールを提供するオープンソースソフトウェアです。
  </p>
</div>

<div class="section tools">
  <h3>Tools</h3>
  <p>
    Thinreports は、GUI上で帳票レイアウトを作成・編集できる 専用レイアウトエディタ Thinreports Editor と
    Ruby プログラムからレイアウトを操作する 専用ライブラリ Thinreports Generator を提供します。
  </p>

  <div class="tool box">
    <%= link_to '<img src="/assets/images/slides/slide-thinreports-editor.png" alt="Thinreports Editor">', 'editor/', class: 'tool-image' %>
    <div class="tool-desc">
      <h4>Thinreports Editor</h4>
      <p>
        Thinreports Editor は Thinreports で扱う帳票レイアウトを編集する専用の GUI ツールです。
        Thinreports Editor を使うことで、業務システムで求められるような複雑なレイアウトも、マウスやキーボード操作によって直感的に作成・編集できます。
      </p>
      <div class="navigate-to">
        <%= link_to 'Learn more', 'editor/', class: 'navigate' %>
      </div>
    </div>
  </div>

  <div class="tool box">
    <%= link_to '<img src="/assets/images/slides/slide-thinreports-gem.png" alt="Thinreports Generator for Ruby">', 'generator/', class: 'tool-image' %>
    <div class="tool-desc">
      <h4>Thinreports Generator for Ruby</h4>
      <p>
        Thinreports Generator は Thinreports Editor で作成したレイアウトを読み込み PDF データを生成する RubyGems です。
        動的データの埋め込みやスタイルの操作などを Ruby コードで実装することができます。
      </p>
      <div class="navigate-to">
        <%= link_to 'Learn more', 'generator/', class: 'navigate' %>
      </div>
    </div>
  </div>
</div>

<div class="section" id="why-use-thinreports">
  <h3>Why use Thinreports?</h3>
  <p>
    Webアプリケーションにおける帳票開発は、多くの課題を抱えています。<br>
    Thinreports は、その中でも特に Ruby における帳票開発の課題を解決するために開発されました。
  </p>
  <p>
    Ruby on Rails 等によるWebアプリケーションの帳票開発を考えた場合、以下のような問題が挙げられます。<br>
    そして Thinreports は、これらの問題を解決するソリューションです。
  </p>
  <dl>
    <dt>No solution</dt>
    <dd>
      そもそも Ruby で利用でき、かつ業務システムへの適用にも耐えうる帳票ソリューションは非常に少ない状況です。
      さらに Pure Ruby で考えると皆無と言わざるを得ません。これは、帳票を必要とするシーンへの Ruby 適用を妨げる一因になっています。
      Thinreports は帳票出力形式のデファクトスタンダードとも言える PDF 出力に対応し、より一層 Ruby による帳票開発適用を促進します。
    </dd>
    <dt>Not simple</dt>
    <dd>
      Pure Ruby にこだわらなければ、Ruby で利用可能なソリューションはいくつかあります。
      しかし、開発プロセスの中で利用するツールや技術は最小限であるべきです。そしてそれは、さまざまなアドバンテージを享受してくれることは言うまでもありません。
    </dd>
    <dt>Not free</dt>
    <dd>
      ここでいう「自由 - free -」とは「プログラマがプログラムを通して、自由に、そしてダイナミックに帳票レイアウトに対する変更を加えられること」を指しています。
      帳票ソリューションの中には CSV や XML, JSON などで帳票データを作成し、それをスタティックなプログラムに渡し帳票生成を行うものがあります。
      しかしこれは、データを渡した時点でダイナミックなプログラムのスコープを抜けてしまうことになり「ダイナミック」に相当する処理は、帳票レイアウト上で記述する他ありません。
    </dd>
    <dd>
      当然、上記のような仕組みの方が優れているシーンも多くありますが、Thinreports Generator では、あくまでもダイナミックなプログラムによる
      ダイナミックな帳票生成インターフェースを提供します。そして、上記のような仕組みが必要な場合は、それを行うインターフェースをプログラマが自由に作るべきと考えています。
    </dd>
  </dl>
</div>
