---
id: top
title: オープンソース PDF 帳票ツール for Ruby, Rails
---

<div id="callout" class="clearfix">
  <div class="showcase">
    <div class="slides active-1">
      <a class="slide-1" href="https://rubygems.org/gems/thinreports" target="_blank">
        <img alt="Thinreports Generator" src="/assets/images/slides/slide-thinreports-gem.png" class="slide-1">
      </a>
      <a class="slide-2" href="<%= site_related_url['chrome_web_store'] %>" target="_blank">
        <img alt="Thinreports Editor" src="/assets/images/slides/slide-thinreports-editor.png">
      </a>
      <a class="slide-3" href="https://github.com/thinreports" target="_blank">
        <img alt="GitHub" src="/assets/images/slides/slide-thinreports-github.png">
      </a>
    </div>
  </div>
  <script>
    (function() {
      var slides = $('.showcase .slides');
      var slideNo = 1;
      setInterval(function() {
        slideNo = slideNo == 3 ? 1 : (slideNo + 1);
        slides.attr('class', 'slides active-' + slideNo);
      }, 5000);
    })();
  </script>
  <div class="aboutme">
    <h2><img src="/assets/images/callout.png" alt="An open source reporting tolls for Ruby - オープンソース帳票ツール"></h2>
    <p class="introduction">
      Thinreports は PDF 形式の帳票を生成する Ruby 向けのオープンソースソフトウェアです。
      専用のレポートデザイナ Thinreports Editor と PDF ジェネレータ Thinreports Generator によって
      Ruby や Ruby on Rails を使った帳票開発の負担を軽減 - thin - することを目指します。
    </p>
    <div class="download">
      <a href="/download/">GET NOW</a>
      <p>Current Release:<span class="version"><%= version_number %></span></p>
    </div>
  </div>
</div>

<div id="news">
  <h3>News</h3>

  <div id="news-entries">
  <% sorted_news_posts[0, 5].each do |news| %>
    <a href="<%= news.path %>" title="<%= summarize_news(news, plain: true) %>">
      <p class="title">
        <span class="notranslate"><%= attribute_to_time(news[:created_at]).strftime('%Y.%m.%d') %></span>
        - <%= news[:title] %>
      </p>
      <p class="summary"><%= excerptize(strip_html(news.compiled_content), length: 80) %></p>
    </a>
  <% end %>
  </div>
  <div class="navigate-to">
    <%= link_to 'All News', '/news/', class: 'navigate' %>
  </div>
</div>

<% content_for :css do %>
<link rel="stylesheet" type="text/css" href="/assets/vendor/colorbox/colorbox.css" media="all">
<% end %>
