<ul>
  <li><%= link_to_unless_current 'Top', '/' %></li>
  <li><%= link_to_unless_current 'News', '/news/', allow_recursive: true %></li>
  <li><%= link_to_unless_current 'Features', '/features/', allow_recursive: true %></li>
  <li><%= link_to_unless_current 'Case', '/case/', allow_recursive: true %>
  <li><%= link_to_unless_current 'Download', '/download/' %></li>
  <li><%= link_to_unless_current 'Documentation', '/documentation/', allow_recursive: true  %></li>
  <li><%= link_to_unless_current 'Support', '/support/' %></li>
</ul>

