<div class="breadcrumbs">
  <%= link_to 'News', '/news/' %>
  <span class="separator">&#187;</span>
</div>

<h2><%= @item[:title] %></h2>

<div class="posted-at">
  <%= attribute_to_time(@item[:created_at]).strftime('%Y.%m.%d') %>
</div>

<%= yield %>

<div class="share">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= summarize_news_for_share(@item) %>" data-via="thinreports_org" data-hashtags="ThinReports">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
