<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @item[:title] %> | Thinreports<%= " - #{site_title}" unless @item[:id] == 'top' %></title>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= news_feed_path %>">
    <%= content_for(@item, :head_ogp) || render('common/head_ogp') %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,400,300,300italic,700,400italic">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all">
    <%= content_for(@item, :css) %>
    <%= render 'common/ga' %>
  </head>
  <body>
    <div id="header">
      <%= render 'common/header' %>
    </div>
    <div id="main">
      <div class="container clearfix">
        <div id="side">
          <div id="nav" class="notranslate">
            <%= render 'common/nav' %>
          </div>
          <div id="links" class="notranslate">
            <%= render 'common/links' %>
          </div>
          <div id="social">
            <%= render 'common/social' %>
          </div>
        </div>
        <div id="content" class="content-<%= @item[:id] %>">
        <% if @item[:id] == 'news-post' %>
          <% render 'news/post' do %>
            <%= yield %>
          <% end %>
        <% else %>
          <%= yield %>
        <% end %>
        </div>
      </div>
    </div>
    <div id="footer" class="notranslate">
      <%= render 'common/footer' %>
    </div>
    <%= render 'common/information' %>
    <script src="/assets/javascript/jquery-2.1.1.min.js"></script>
    <%= content_for(@item, :evaluate_scripts) %>
  </body>
</html>
