<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @item[:title] %> | ThinReports<%= ' - 帳票ソリューション for Ruby and Rails' unless @item[:id] == 'top' %></title>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= news_feed_path %>">
    <%= content_for(@item, :head_ogp) || render('common/head_ogp') %>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all">
    <%= content_for(@item, :css) %>
    <script type="text/javascript" src="/assets/javascript/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19321975-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <meta name="google-translate-customization" content="42ed873f8f1dc374-e7eb180f333a5c2a-g116caa56e8142ce9-13"></meta>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=224790820998167&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="container" class="container">
      <div id="github-ribbon">
        <%= render 'common/github_ribbon' %>
      </div>
      <div id="header">
        <%= render 'common/header' %>
      </div>
      <div id="main" class="clearfix">
        <div id="side" class="notranslate">
          <div id="nav">
            <%= render 'common/nav' %>
          </div>
          <div id="links">
            <%= render 'common/links' %>
          </div>
          <div id="social">
            <%= render 'common/social' %>
          </div>
          <div id="translater">
            <%= render 'common/translater' %>
          </div>
        </div>
        <div id="content" class="content-<%= @item[:id] %>">
        <% if @item[:id] == 'news-post' %>
          <% render 'news/post' do %>
            <%= yield %>
          <% end %>
        <% else %>
          <%= yield %>
        <% end %>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render 'common/footer' %>
    </div>
    <%= render 'common/information' %>
  </body>
</html>

