--- 
id: features-generator
title: "Features › ThinReports Generator for Ruby"
---

<h2>Features</h2>

<%= render 'features/nav' %>

<div class="section">
  <h2 class="sub">ThinReports Generator for Ruby</h2>
  <p>
    ThinReports Generator は ThinReports Editor で作成されたレイアウトを読み込み
    帳票生成を行う Ruby 向け専用ライブラリです。 RubyGems として提供しているため Ruby on Rails のような Ruby 製フレームワークでも利用可能です。
  </p>
  <p>
    ThinReports Generator は、主に以下の特徴を持ちます。
  </p>
  <ul>
    <li>外字のサポート（外字を含む帳票の生成）</li>
    <li>動的スタイルのサポート（テキストカラー/テキストの配置/罫線の太さ・色/塗りの色/フォントスタイル）</li>
    <li>標準フォントのビルトイン（IPAフォント/Courier/Times Roman/Helvetica）</li>
    <li>Editor で定義されたテキストブロックに対する値の埋め込み</li>
    <li>Editor で定義されたイメージブロックに対するローカルイメージファイル又はURLの指定</li>
  </ul>
</div>

<div class="section">
  <h3>License</h3>
  <p>
    <%= external_link_to 'The MIT License', 'http://www.opensource.org/licenses/mit-license.php' %>
  </p>
</div>

<div class="section">
  <h3>Supported Versions</h3>
  <p>Generator は以下の Ruby バージョンに対応しています。</p>
  <ul>
    <li>Ruby 1.8.7, 1.9.3, 2.0.0, 2.1.1</li>
    <li>JRuby 1.6, 1.7 (1.8 mode only)</li>
  </ul>
</div>

<div class="section">
  <h3>Screen Shots</h3>
</div>

<div class="box screenshots clearfix" id="screenshots">
  <dl>
    <dt><%= colorbox_image_tag '/assets/images/fet/generator/sc1.png', 'ThinReports Generator at RubyGems.org' %></dt>
    <dd class="desc">ThinReports Generator at RubyGems.org</dd>
  </dl>
  <dl>
    <dt><%= colorbox_image_tag '/assets/images/fet/generator/sc2.png', 'Generate PDF reports' %></dt>
    <dd class="desc">Generate <em class="pdf">PDF</em> reports</dd>
  </dl>
</div>

<script type="text/javascript" src="/assets/javascript/utils.js"></script>
<script type="text/javascript" src="/assets/vendor/colorbox/jquery.colorbox.min.js"></script>
<script type="text/javascript">
  $('#screenshots a').colorbox();
</script>

<% content_for :css do %>
<link rel="stylesheet" type="text/css" href="/assets/vendor/colorbox/colorbox.css" media="all" />
<% end %>

